body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aqua;
  flex-direction: column;
}
.app-container {
  background-color: rgb(31, 73, 111);
  width: 250px;
  height: 350px;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.temperature-display-container {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 50%;
}
.temperature-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 2rem;
}
.cold {
  transition: all 300ms linear;
  background-color: rgb(0, 187, 255);
  color: navy;
}
.hot {
  transition: all 300ms ease-in;
  background-color: rgb(255, 89, 0);
  color: navy;
}
button {
  border-radius: 50%;
  background-color: cadetblue;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid white;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(140, 167, 168);
}
.button-container {
  gap: 2rem;
  display: flex;
  justify-content: center;
}
